body {
  background-image: url("assets/background.png");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px; 
    font-family: "Pirata One", serif;
    color: green;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 23px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 200px;
  height: 220px;
}

.card.flipped {
  transform: rotateY(180deg);
  background-size: cover;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url('assets/cardback.png');
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}


.card .front {
  transform: rotateY(180deg);
}
